@page "/serviceusers/{Id:guid}"
@rendermode InteractiveServer
@using SocialCareManager.Web.Services
@using SocialCareManager.Web.Components.ServiceUsers
@inject NavigationManager Navigation
@inject AuthService AuthService

<h1>Service user details</h1>

@if (!AuthService.IsLoggedIn)
{
    <p>Redirecting to login...</p>
}
else
{
    <ServiceUserHeader ServiceUserId="Id" />

    <hr />

    <DailyNotesSection ServiceUserId="Id" />

    <hr />

    <NextOfKinSection ServiceUserId="Id" />
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        if (!AuthService.IsLoggedIn)
        {
            Navigation.NavigateTo("/login");
        }
    }
}